html, body {
  margin: 0px;
  height: 100%;
}

/* 교보 손글씨 폰트 */
@font-face {
  font-family: 'Kyobo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}


/* 시작 */
.mainContent {
  background-color: rgb(242, 242, 242);
  margin: 20px;
  border: 2px solid #dadcd5;
  padding: 15px;
  font-family: sans-serif;
}

/* 메인헤더 */
.mainContent .mainHeader {
  flex-direction: row;
  display: flex;
}

.literaryCenterImg {
  justify-content: center;
  height: 300px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 2px solid #dadcd5;
}

.literaryCenterImgSide {
  display: flex;
  flex-direction: column;
}

.literaryCenterImgSide .homeIcon img {
  height: 40px;
  display: flex;
  margin: 10px;
  padding: 20px;
  padding-left: 0px;
}

.literaryCenterImgSide .literaryCenterName h1 {
  margin: 20px;
  padding-top: 40px;
  font-size: 200%;
}

.literaryCenterImgSide .literaryCenterName p {
  margin: 20px;
  font-size: 16px;
  line-height: 0.8;
}

.exhibition {
  display: flex;
}

.exhibition img {
  height: 250px;
  padding-right: 20px;
}


/* 메인바디 */
.mainContent .mainBody {
  margin: 20px;
}

.literaryCenterVisit{
  padding-bottom: 20px;
}

.author {
  display: flex;
  justify-content: flex-end;
  border: 2px solid #dadcd5;
  margin-bottom: 20px;
}

.author:hover {
  background-color: #e7e9e0;
}

.author .authorInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  padding-top: 10px;
  color: inherit;
  text-decoration: none;
}

.author .authorInfo p {
  font-size: 18px;
  margin: 10px;
  margin-left: 200px;
  text-align: right;
  line-height: 1.5;
}

.author .authorInfo h3 {
  margin: 10px;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.author img {
  height: 250px;
  display: flex;
  margin: 20px;
}


/* 토글 만들기 */
details {
  margin: 10px 0;
  margin-top: 20px;
  padding: 8px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: block;
  width: 100%;
  font-size: 24px;
}

summary span {
  display: inline-block;
  position: relative;
}

  /* 삼각형 아이콘 만들기 */
summary span::after { 
  content: "▶";
  position: absolute;
  left: calc(0px + 100%);
  margin-left: 6px;
  top: 2px;
  transition: transform 0.2s;
}

details[open] summary span::after {
  transform: rotate(90deg);
}

.toggle-content {
  padding-left: 8px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s ease;
}

.toggle-content p {
  line-height: 1.5;
  font-size: 18px;
}

summary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mainContent h4 {
  font-size: 20px;
  margin-bottom: 16px;
}


/* 연혁 표 */
.timeline {
  border-left: 3px solid #ccc;
  margin-left: 20px;
  padding-left: 20px;
}

.timeline-item {
  margin-bottom: 20px;
  position: relative;
  font-size: 20px;
}

.timeline-item::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #738C36;;
  border-radius: 50%;
  position: absolute;
  left: -27px;
  top: 5px;
}

.year {
  font-weight: bold;
  font-size: 1.1rem;
  color: #738C36;;
}

.event {
  margin-top: 4px;
  font-size: 18px;
}


/* 진행 프로그램 */
.program-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 40px 0;
}

.program-item img {
  width: 90%;
  aspect-ratio: 1 / 1.414;
  object-fit: cover;
  border-radius: 8px;
}

.program-item h4 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 1.3;
}

.program-item p {
  margin-top: 6px;
  font-size: 16px;
  color: #444;
  text-align: left;
  margin-bottom: 16px;
  line-height: 1.55;
}

.program-info {
  display: grid;
  grid-template-rows: auto auto auto;
}

.program-info ul {
  padding-left: 20px;
}

.program-info li {
  font-size: 16px;
}


/* 지도 */
.toggle-map {
  display: flex;
}

.toggle-map iframe {
  width: 300px;
  aspect-ratio: 1/1;
  border: 0;
  padding: 20px;
}

.toggle-map-text h4 {
  margin-bottom: 10px;
}

.toggle-map-text b {
  font-size: 14px;
}


/* 책 리스트 */
.Booklist {
  border: 2px solid #dadcd5;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 40px;
  padding: 20px;
  justify-content: center;
}

.book-card {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
  text-decoration: none;
  color: inherit;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card img {
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
}

.book-card h3 {
  margin: 8px 0 4px 0;
  font-size: 24px;
}

.book-card p {
  font-size: 16px;
}